<div class="row">
    <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Temp.Client</h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li><a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false"><i class="fa fa-wrench"></i></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Settings 1</a>
                            </li>
                            <li><a href="#">Settings 2</a>
                            </li>
                        </ul>
                    </li>
                    <li><a class="close-link"><i class="fa fa-close"></i></a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <br />
                <form id="ClientForm" method="post" enctype="multipart/form-data" data-toggle="validator" class="form-horizontal form-label-left" onsubmit="SaveClient();return false;">

                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clientname">Client Name <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="clientname" name="clientname" onblur="FindClientName(this);" class="form-control col-md-7 col-xs-12" placeholder="Client Name" required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clientphno">Mobile No <span class="required">*</span>
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="number" id="clientphno" name="clientphno" placeholder="90000000" min="11" class="form-control col-md-7 col-xs-12" required>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clientaddress">Address
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <textarea class="form-control" rows="5" id="clientaddress" name="clientaddress" placeholder="Address for communication" ></textarea>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clientcasetype">Type
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <select class="form-control" id="clientcasetype" name="clientcasetype">
                                <option value="CIVIL">Civil</option>
                                <option value="CRIMINAL">Criminal</option>
                                <option value="INSURANCE">Insurance</option>
                                <option value="CONSUMER">Consumer</option>
                            </select>
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clientcasetype">Attachment
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="file" name="Attach" id="Attach"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clienttotalamount">Total Amount
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="clienttotalamount" name="clienttotalamount" value="0" placeholder="Total Amount" class="form-control col-md-7 col-xs-12">
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clientpaidamount">Paid Amount
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="clientpaidamount" name="clientpaidamount" value="0" placeholder="Paid Amount" class="form-control col-md-7 col-xs-12" onblur="Calculatebal(this);">
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clientbalamount">Bal Amount
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="clientbalamount" name="clientbalamount" value="0" placeholder="Bal Amount" class="form-control col-md-7 col-xs-12">
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clientcasestage">Case Stage
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="clientcasestage" name="clientcasestage" placeholder="Case Stage (Eg. 1,2,3,4...)" class="form-control col-md-7 col-xs-12">
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-md-3 col-sm-3 col-xs-12" for="clienthearingdate">Hearing Date
                        </label>
                        <div class="col-md-6 col-sm-6 col-xs-12">
                            <input type="text" id="clienthearingdate" name="clienthearingdate" class="form-control col-md-7 col-xs-12">
                        </div>
                        <div class="help-block with-errors"></div>
                    </div>
                    <div class="ln_solid"></div>
                    <div class="form-group">
                        <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                            <!--<button class="btn btn-primary" type="button">Cancel</button>-->
                            <button type="submit" class="btn btn-app" id="ClientSave"><i class="fa fa-save"></i>Save</button>

                            <button type="button" class="btn btn-app" id="ClientUpdate" onclick="UpdateClient();" style="display:none;"><i class="fa fa-edit"></i>Update</button>
                            <button type="button" class="btn btn-app" id="ClientDelete" onclick="DeleteClient();" style="display:none;"><i class="fa fa-times"></i>Delete</button>
                            <button class="btn btn-app" type="reset" onclick="resetClients();"><i class="fa fa-ban"></i>Reset</button>
                        </div>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>
<script src="apps/controller/TempClient.js"></script>